@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    height: 100%;
    font-family: 'Nova Mono', monospace;
    font-size: 120%;
}

#root {
    height: 100%;
    color: #fff;
}

.center {
    position: absolute;
    display: block;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

html, body, #root, .fill-parent {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}