.login-form {
    background-image: url('https://images.wallpaperscraft.com/image/milky_way_starry_sky_stars_128523_1920x1080.jpg');
    background-size: cover;
}
.login-form .form-container {
    padding: 15px;
    background-color: #fff8;
}
.login-form input, .login-form button {
    border: none;
    display: block;
    background-color: #ddd;
    padding: 0px 5px;
    margin: 15px;
}
.login-form h4 {
    position: absolute;
    margin: 0;
    top: 0; left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
}