.position {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    top: 0; left: 0;

    background-size: cover;
    background-position: 0 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.position .options li > * {
    padding-bottom: 2px;
    display: inline;
}
.position .options li > *:not(:first-child)::before {
    content: ' - ';
}

.position .people {
    flex: 0 0;
    background: white;
    color: black;
    position: relative;
    padding: 10px;
}

.position .options {
    flex: 0 0;
    margin-bottom: 0;
    padding: 30px 50px;
    background: white;
    color: black;
}

.position h5 {
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
    font-weight: 900;
    margin: 0 1ex;
    /*vertical-align: top;*/
}